.idea
node_modules
*.swp
scratch.txt
game-scratch.js
*.vim

scratch.txt
game-scratch.js
tags
grep.txt

*.tgz
*.zip
*.swp
*.vim

.DS_Store
**/.DS_Store

.idea
.swp
.swl
.swo
.swn
.swm
.idea
.idea/
.idea/*
