/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

.env*
file.csv

/storage/*.csv
/storage/import_queue/*
/storage/
/node_modules
/public/storage
Homestead.yaml
Homestead.json

.*.swp
*.swp
*.vim
*.swo
*.zip
*.tgz
.DS_Store
.idea

composer.lock
A-sensitive

# ide helpers
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
database/csv-raw/*.xlsx
config/debugbar.php
config-local.txt
composer-dot-json
TODO.txt
ctags
tags
CMD-rsync-local.txt

app/Console/Raw/api_tests/*.txt
database/bak/*
database/seedfiles/auto/*
*.txt

storage/debugbar

.gitattributes
artisan
database/seedfiles/auto
database/seedfiles/auto-tmp

./auth.json
auth.json

*hide
*bak
tmp.php
tmp.txt

.bash_history
composer
composer.bat
composer.phar
db_test.php
public/info.php
public/phpinfo.php
web.config
public/directory_pics
