/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs/dt-1.10.13
 *
 * Included libraries:
 *   DataTables 1.10.13
 */

/* ==================== *
 * PSG Adjustments
 * ==================== */
body .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
    border: none; /* use border settings in paginate.less */
}


